body{
    margin: 0px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    
}
header{
    background-color: #2C3930;
    height: 150px;
    width: 100%;
    width: 1200px;
    align-items: center;
    justify-items: center;

    display: grid;
    grid-template-columns: 130px 550px 1fr;
}
    svg{
        fill:#DCD7C9;
    }
    header h2{
        color: #DCD7C9;
        font-size: 1.6rem;
    }
    header p{
        color: #DCD7C9;
    }
    #dropButton{
        width: 150px;
        height: 50px;
        font-size: 1.2rem;
        color: #DCD7C9;
        background-color: #A27B5C;
        border-radius: 25px;
    }
        .dropMenu{
            display: none;
            position: absolute;
            background-color: #3f4f44a3;
            width: 150px;
            height: 170px;
            font-size: 1.1rem;
            border-radius: 15px;
        
            grid-template-rows: repeat(3, 1fr);
            justify-items: center;
            align-items: center;
        }
        
        .dropMenu button{
            color: #DCD7C9;
            background-color: #A27B5C;
            font-size: 1.1rem;
            border-radius: 15px;
            height: 50px;
            width: 140px;
        }

.carousel{
background-color: #DCD7C9;
width: 1200px;
height: 100%;
justify-items: center;

}
    .animalPic{
        background-color: #DCD7C9;
        justify-items: center;
        width: 700px;
    }
    .picName{
        font-size: 1.4rem;
        color: rgb(0, 0, 0);
    }
    .picNumber{
       color: rgb(0, 0, 0);
    }
